* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: lightgoldenrodyellow;
}

nav {
  background: lightblue;
  height: 100px;
  width: 100%;
  border-bottom: 2.5px solid black;
}

label.logo {
  color: black;
  font-size: 35px;
  line-height: 90px;
  padding: 0 20px;
  font-weight: bold;
}

label.logo:hover {
  text-decoration: underline;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 100px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  padding: 7px 13px;
  font-weight: 550;
}

a:hover {
  text-decoration: underline;
  transition: 0.1s ease-in;
}

.checkbtn {
  float: right;
  line-height: 80px;
  margin-right: 40px;
  margin-top: 7px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.menu {
  height: 2rem;
  width: 2rem;
}

.icon {
  height: 5rem;
  margin-left: 80px;
  margin-top: 10px;
}

.dowload {
  height: 2.2rem;
  width: 9rem;
  font-size: 18px;
  margin-bottom: 5px;
  border-radius: 8px;
  background-color: #56b2d6;
  font-weight: 550;
}

.dowload:hover {
  cursor: pointer;
}

.dow-svg {
  height: 2rem;
  width: 1.5rem;
  position: absolute;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  height: 30rem;
}


.balance {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 30px;
}

.balance .container {
  height: 50px;
  width: 120px;
  background-color: aqua;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border: 0.5px solid black;
  border-radius: 5px;
  font-size: 2rem;
}

.balance h2 {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}


@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 20px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
    top: 100px;
    left: -100%;
    text-align: center;
    transition: 0.5s all;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.check {
    background: none;
    color: black;
  }

  #check:checked ~ ul {
    left: 0;
  }

  .icon {
    margin-left: 10px;
  }
}
